body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

header,
main,
footer {
  padding: 1rem;
}

header {
  background-color: #f7f7f7;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.7rem;
  padding: 0;
  margin: 0;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
